// CSS 或 CSS-in-JS 中定义
.combine-highlight {
  background-color: #bbdefb;
  transition: background-color 2s ease !important;
}


.group-container {
  border: #bbdefb solid 1px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
}